@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #b1624e;
}
ul {
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  background-color: #5cc8d7;
}
#logo {
  float: left;
  width: 50%;
  height: 50px;
  padding-left: 20px;
}

nav {
  width: 100%;
  height: 40px;
  text-align: center;
}
#topMenu {
  height: 40px;
}
#topMenu li {
  float: left;
  position: relative;
  padding-right: 4%;
  padding-left: 4%;
  font-size: 1em;
}

main {
  padding-left: 50px;
  padding-right: 70px;
  padding-top: 10px;
}
img {
  width: 450px;
  height: 430px;
  border-radius: 5px;
  float: left;
}
fieldset {
  float: right;
  width: 350px;
  height: 90px;
  border-radius: 10px;
  margin-top: 5px;
}
fieldset:hover {
  border: 3px solid #b1624e;
}
main button {
  padding: 10px;
}
main div {
  padding-top: 20px;
}
#selec4 {
  height: 140px;
}
fieldset #result {
  width: 50px;
}
.total {
  float: left;
  height: 80px;
  display: none;
  font-size: large;
  color: red;
}
.total p {
  float: left;
}
.detail2 {
  display: none;
}
.detail3 {
  display: none;
}
.detail4 {
  display: none;
}
